<launch>
  <node pkg="open_quadtree_mapping" type="open_quadtree_mapping_node" name="open_quadtree_mapping" clear_params="true" output="screen">

    <param name="cam_width" value="752" />
    <param name="cam_height" value="480" />
    <param name="cam_fx" value="457.250446635753" />
    <param name="cam_cx" value="365.130671373025" />
    <param name="cam_fy" value="459.099508345733" />
    <param name="cam_cy" value="234.421024297129" />
    <param name="cam_k1" value="-0.394875400336141"/>
    <param name="cam_k2" value="0.135130605469333"/>
    <param name="cam_r1" value="-0.000924718223247582"/>
    <param name="cam_r2" value="-0.000259803559870289"/>
    <!--downsample factor: 0 ~ 1-->
    <param name="downsample_factor" value="1"/>
    <param name="semi2dense_ratio" value="1"/>

    <!-- if using synchronize image and pose-->
    <remap from="~image" to="/camera/left/image_raw" />
    <remap from="~posestamped" to="/vins_estimator/camera_pose" />


  </node>   
</launch>
