<launch>
  <node pkg="open_quadtree_mapping" type="open_quadtree_mapping_node" name="open_quadtree_mapping" clear_params="true" output="screen">

    <param name="cam_width" value="752" />
    <param name="cam_height" value="480" />
    <param name="cam_fx" value="327.38235739832396" />
    <param name="cam_fy" value="328.53746876861663" />
    <param name="cam_cx" value="377.71122904148228" />
    <param name="cam_cy" value="218.78488378394886" />
    <param name="cam_k1" value=" -0.27118124680891365"/>
    <param name="cam_k2" value=" 0.057732212942268199"/>
    <param name="cam_r1" value=" -0.00027044265276931112"/>
    <param name="cam_r2" value="-0.00091854435084491376"/>
    <!--downsample factor: 0 ~ 1-->
    <param name="downsample_factor" value="0.5"/>
    <param name="semi2dense_ratio" value="2"/>

    <!-- if using synchronize image and pose-->r
    <remap from="~image" to="/camera/right/image_raw" />
    <remap from="~posestamped" to="/vins_estimator/camera_pose" />


  </node>   
</launch>
